

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgb(241, 182, 162);
    justify-content: space-around;
    margin-top: 5px;
    

}

div {
    margin: 5px;
    

}

.container div {

    border-width: 2px;
    border-style: solid;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 20px;



}

h1 {
    text-align: center;
    text-shadow: 3px 2px 2px palevioletred;

}

.container img:hover {
    transform:scale(1.1);
    transition:1ss;
}
